In [ ]:
import chant
import pandas as pd

def display_percent(x):    # used for easier-to-read probability tables
    if x == 0:
        return ''
    else:
        return str(int(x*100)) + '%'

# Data tables of the `chant` module

The `chant` module provides two tables of data, `chantData` and `noteData`. Each of these tables takes the form of a [pandas dataframe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html), a highly flexible data structure that allows for many types of manipulation: sorting, filtering, querying, cross-referencing, and basic statistical analysis.

## `chant.chantData()`

This is a function that returns a pandas DataFrame with one row for each chant in the corpus. In most cases you'll want to capture the output of `chantData()` in a variable. Here we'll store the data under the name `cd` and display it. 

By default, pandas dataframes with greater than 60 rows are truncated to show the first 30 and last 30 rows. The commented-out line below will change this to 5 and 5; to activate this line, uncomment it by removing the hash mark and the leading space. See the [pandas options documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html) for more information about configurable options.

In [ ]:
cd = chant.chantData()
with pd.option_context('display.max_rows', 10):
    display(cd)

## What's in a column? Dataframe methods `unique()` and `value_counts()`

Some of the chant features come in two flavors: Modus/modus, Service/service, Genre/genre. In each case the capitalized version has a more granular classification than the lowercase version. 

To see this in action, we can use the pandas methods `unique()` and `value_counts`, which are invoked by appending them to a column specifier:

    df-name.column-name.unique() 
    df-name['column-name'].unique()
    
Sometimes a column name conflicts with a Python or pandas keyword, and the `df-name.column-name.method-name()` syntax will cause unexpected behavior. The bracket syntax, `df-name['column-name'].method-name()`, protects you from this problem.

A complete list of methods for pandas Series (the data type for dataframe columns) can be found in the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/series.html).

In [ ]:
cd.modus.unique()

## Decoding genre and service codes

The chant module provides dictionaries for this purpose, `chant.fullService` and `chant.fullGenre`

In [ ]:
services = cd.service.unique()   # you can get unique values for any column this way: dataframe.column.unique()
for s in services:
    print(f'{s} -> {chant.fullService[s]}')   # see https://realpython.com/python-f-strings/

In [ ]:
Genres = cd.Genre.unique()
for g in Genres:
    print(f'{g} -> {chant.fullGenre[g]}')
    
genres = cd.genre.unique()
for g in genres:
    print(f'{g} -> {chant.fullGenre[g]}')

## Counting on two axes: pandas `crosstab()`

In [ ]:
pd.crosstab(cd.Genre, cd.genre)

## Normalizing crosstabs

By default, `pd.crosstab()` generates raw counts. You can optionally normalize the frequency table to generate a probability distribution, in one of three ways: by row, by column, or over the whole table.

In [ ]:
display(pd.crosstab(cd.genre, cd.service))
display(pd.crosstab(cd.genre, cd.service, normalize=True))          # norm over the whole table
display(pd.crosstab(cd.genre, cd.service, normalize='columns'))     # norm each column
display(pd.crosstab(cd.genre, cd.service, normalize='index'))       # norm each row

## The pandas `query()` method

A simple query: let's see all the invitatories in the corpus.

In [ ]:
cd.query('genre == "I"')    # note the use of double quotes inside single quotes, since 'I' is a string value

The chant module provides three lists of mode labels that can be useful for filtering out "nonstandard" chants of various kinds.

In [ ]:
print(chant.basicModes)
print(chant.basicTranspositions)
print(chant.psalmTones)

We can use an f-string to use one of these lists as a filter:

In [ ]:
cdpt = cd.query(f'modus in {chant.psalmTones}')

And since the statement above produces a new dataframe (which, since it isn't stored in a variable, is displayed and forgotten), we can treat it exactly like we've been treating `sd`:

In [ ]:
cdpt.modus.value_counts()

In [ ]:
cdpt.index.size

## Prevent server crashes by deleting data you're done with

Our Jupyter server doesn't have infinite memory resources, as we learned on the first day of class. The chant module provides two relatively efficient data tables that don't take up too much memory, but there isn't a huge amount of headroom. 

When you create new tables and give them variable names, you're adding to the memory load of the server. It's a good habit, therefore, to get rid of large data structures you no longer need, which you do with the Python `del()` function.

In [ ]:
cdpt  # still in memory

In [ ]:
del(cdpt)
cdpt        # no longer in memory

## `chant.noteData()`

In [43]:
nd = chant.noteData()
with pd.option_context('display.max_rows', 10):
    display(nd)

,chantID,word,syll,note,boundary_before,boundary_after,reg_abs,pc_abs,reg_rel,pc_rel,lint,rint
0,0,0,0,0,2,0,1,d,1,1,-99,2
1,0,0,0,1,0,1,1,f,1,3,2,-1
2,0,0,1,0,1,0,1,e,1,2,-1,-1
3,0,0,1,1,0,1,1,d,1,1,-1,1
4,0,0,2,0,1,2,1,e,1,2,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
423454,5949,29,2,0,1,0,2,d,1,2,1,1
423455,5949,29,2,1,0,0,2,e,1,3,1,-1
423456,5949,29,2,2,0,0,2,d,1,2,-1,-1
423457,5949,29,2,3,0,1,2,c,1,1,-1,0
423458,5949,29,3,0,1,2,2,c,1,1,0,99

In [47]:
display(nd.lint.value_counts())
display(nd.rint.value_counts())
display(nd.boundary_before.value_counts())

-1     153540
 1     125414
 0      66661
 2      31748
-2      25269
 3       6292
-99      5950
-3       3859
 4       2901
-4       1684
-5         71
 5         48
 7         21
 6          1
Name: lint, dtype: int64

-1     153540
 1     125414
 0      66661
 2      31748
-2      25269
 3       6292
 99      5950
-3       3859
 4       2901
-4       1684
-5         71
 5         48
 7         21
 6          1
Name: rint, dtype: int64

0    220041
1    120494
2     82924
Name: boundary_before, dtype: int64

## Using a filter on `chant.chantData()` to filter `chant.noteData()`

The dataframe produced by `chant.chantData` is quite large. The following code snippets show you how to manipulate and analyze these data without overwhelming the system. Two rules to bear in mind:

* drop columns you don't need

* delete temp dataframes as soon as you're done with them

In [56]:
notes = chant.noteData()[['chantID', 'rint', 'reg_abs', 'pc_abs']] # take only columns you need!
notes['pitch'] = notes['reg_abs'] + '.' + notes['pc_abs'] 
notes.drop(['reg_abs','pc_abs'], axis=1) # drop columns you're done with!

with pd.option_context('display.float_format', display_percent, 'display.max_rows', 15):
    
    # generate a dataframe with just the rows from chantData that we'll need

    selected = cd[cd.Modus.isin(['1d'])][['chantID','modus']]   # alternate syntax to the .query() method used above

    # use pandas merge() to make a new dataframe combining the 'selected' and 'results' dataframes

    results = selected.merge(notes, on ='chantID')
    display(results)

    # make the crosstab    
    
    display(pd.crosstab(results.pitch, results.rint, normalize='index').sort_index(ascending=False))
    
del(notes, results)

       chantID modus  rint reg_abs pc_abs pitch
0            0    1d     2       1      d   1.d
1            0    1d    -1       1      f   1.f
2            0    1d    -1       1      e   1.e
3            0    1d     1       1      d   1.d
4            0    1d    -1       1      e   1.e
5            0    1d    -1       1      d   1.d
6            0    1d     1       1      c   1.c
...        ...   ...   ...     ...    ...   ...
88557     5948    1d    -1       1      d   1.d
88558     5948    1d     1       1      c   1.c
88559     5948    1d     1       1      d   1.d
88560     5948    1d     1       1      e   1.e
88561     5948    1d    -1       1      f   1.f
88562     5948    1d    -1       1      e   1.e
88563     5948    1d    99       1      d   1.d

[88564 rows x 6 columns]

rint   -5   -4   -3   -2   -1    0    1    2    3    4    5    6    7    99
pitch
2.f          5%   5%  66%  22%
2.e     0%   1%   1%  31%  61%   1%   1%
2.d     0%   2%   6%   2%  62%  13%  10%   1%
2.c          0%   4%  16%  42%   6%  29%   0%
2.b     0%   0%   0%  16%  68%   1%  13%   0%                            0%
2.a     0%   2%   0%   7%  39%  28%  11%   8%   0%   0%   0%             0%
1.g          0%   1%   5%  39%   8%  42%   1%   0%   0%                  0%
1.f          0%   0%   8%  37%   8%  40%   3%   0%   0%                  0%
1.e                    4%  52%   2%  33%   6%   0%        0%             0%
1.d               0%   0%  22%  26%  15%  19%   2%   7%   0%        0%   7%
1.c                    0%   0%   7%  65%   8%  16%   0%   0%   0%        0%
1.b                        37%  12%  37%  12%
1.a                                   7%  84%   7%

Copy the code above into the cell below and modify it so that what's reported is the probability that a given *relative* pitch (scale degree with register) is *preceded* by a different interval, looking at *all* of the `chant.basicModes`.

What does this code do?

In [69]:
notes = chant.noteData()[['chantID', 'lint', 'rint', 'reg_abs', 'pc_abs']] # take only columns you need!
notes['pitch'] = notes['reg_abs'] + '.' + notes['pc_abs'] 
notes.drop(['reg_abs','pc_abs'], axis=1) # drop columns you're done with!

with pd.option_context('display.float_format', display_percent):
    selected = cd[cd.Modus.isin(['7g'])][['chantID','modus']]
    results = selected.merge(notes, on ='chantID').query('pitch == "1.g"')
    display(pd.crosstab(results.lint, results.rint, normalize='index').sort_index(ascending=False))
    
notes

rint  -3   -2   -1    0    1    2    3    4    5    7    99
lint
 3                   33%  66%
 2         16%       50%  16%            16%
 1               2%  58%  31%   0%   1%   3%        0%   1%
 0     0%   0%   3%  23%  24%   5%  12%  11%        0%  20%
-1          0%  23%  29%  31%   1%   4%   2%        0%   6%
-2               5%  32%  42%   8%   8%   0%             0%
-3          0%   4%  16%  74%   0%   2%                  1%
-4               6%   5%  58%   4%   3%  21%   0%
-5                  100%
-99                  31%  21%  19%   8%  18%

        chantID  lint  rint reg_abs pc_abs pitch
0             0   -99     2       1      d   1.d
1             0     2    -1       1      f   1.f
2             0    -1    -1       1      e   1.e
3             0    -1     1       1      d   1.d
4             0     1    -1       1      e   1.e
5             0    -1    -1       1      d   1.d
6             0    -1     1       1      c   1.c
7             0     1     1       1      d   1.d
8             0     1    -1       1      e   1.e
9             0    -1     0       1      d   1.d
10            0     0     2       1      d   1.d
11            0     2    -1       1      f   1.f
12            0    -1     1       1      e   1.e
13            0     1     1       1      f   1.f
14            0     1     0       1      g   1.g
15            0     0    -1       1      g   1.g
16            0    -1     1       1      f   1.f
17            0     1     1       1      g   1.g
18            0     1     0       2      a   2.a
19            0     0    -1       2      a   2.a
20            0    -1    -2       1      g   1.g
21            0    -2     1       1      e   1.e
22            0     1    -1       1      f   1.f
23            0    -1    -1       1      e   1.e
24            0    -1     1       1      d   1.d
25            0     1    -1       1      e   1.e
26            0    -1    -1       1      d   1.d
27            0    -1     1       1      c   1.c
28            0     1     0       1      d   1.d
29            0     0     1       1      d   1.d
...         ...   ...   ...     ...    ...   ...
423429     5949    -1     3       1      g   1.g
423430     5949     3     1       2      c   2.c
423431     5949     1     1       2      d   2.d
423432     5949     1     1       2      e   2.e
423433     5949     1    -1       2      f   2.f
423434     5949    -1    -1       2      e   2.e
423435     5949    -1    -1       2      d   2.d
423436     5949    -1     0       2      c   2.c
423437     5949     0    -1       2      c   2.c
423438     5949    -1    -1       2      b   2.b
423439     5949    -1     1       2      a   2.a
423440     5949     1     1       2      b   2.b
423441     5949     1    -3       2      c   2.c
423442     5949    -3     1       1      g   1.g
423443     5949     1     2       2      a   2.a
423444     5949     2     1       2      c   2.c
423445     5949     1     1       2      d   2.d
423446     5949     1     2       2      e   2.e
423447     5949     2     1       2      g   2.g
423448     5949     1    -1       3      a   3.a
423449     5949    -1    -1       2      g   2.g
423450     5949    -1    -1       2      f   2.f
423451     5949    -1    -1       2      e   2.e
423452     5949    -1    -1       2      d   2.d
423453     5949    -1     1       2      c   2.c
423454     5949     1     1       2      d   2.d
423455     5949     1    -1       2      e   2.e
423456     5949    -1    -1       2      d   2.d
423457     5949    -1     0       2      c   2.c
423458     5949     0    99       2      c   2.c

[423459 rows x 6 columns]